/* clock css */

body {
  background-color: black;
}

.div-clock {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.js-time,
.js-period {
  color: whitesmoke;
  font-family: "Sigmar One", cursive;
  font-family: "Tangerine", cursive;
  font-weight: normal;
}

.js-time {
  font-size: 100px;
  text-align: center;
}

.js-period {
  font-size: 40px;
  text-align: right;
  contain: layout paint style;
  content: normal;
  margin-right: 0;
  margin-left: 10px;
}

#js-type,
.js-title,
.js-text {
  color: black;
  font-family: "Sigmar One", cursive;
  font-family: "Tangerine", cursive;
  font-weight: normal;
}

/* local user css */

.form {
  position: absolute;
  display: none;
}

.showing {
  position: absolute;
  display: table;
  top: 400px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: whitesmoke;
  font-size: 45px;
  font-family: "Jomolhari", serif;
}

.local-user-style,
.todo-style {
  background: none;
  text-align: center;
  border: 0;
  outline: none;
  color: snow;
  border-bottom: 4px inset white;
}

.form,
.local-user-style {
  top: 44%;
  left: 32%;
  text-align: center;
  font-size: 20px;
  width: 700px;
  height: 55px;
}

input {
  font-family: "Jomolhari", serif;
}

/* todos css */

li {
  position: relative;
  color: aliceblue;
  margin-bottom: 5px;
}

.js-todo {
  padding-top: 5px;
  padding-bottom: 0px;
}

.todo {
  position: relative;
}

.form-todo {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.todo-style {
  text-align: center;
  font-size: 20px;
  width: 450px;
  height: 35px;
}

.dltbtn-type-show {
  display: contents;
  font-size: 20px;
}

.dltbtn-type-hide {
  display: none;
}

#span-place {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.js-span {
  color: snow;
}

/* background css */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 0.5s linear;
}

/* setting css */

/* setting img style $ transform */

.set {
  position: absolute;
  padding: 3px, 3px, 3px, 3px;
  top: 0;
  right: 6.6%;
}

.set span {
  font-size: 1px;
}

span {
  color: white;
}

.set:hover span:nth-child(1) {
  animation-delay: 0s;
}

.set:hover span:nth-child(2) {
  animation-delay: 0.1s;
}

.set:hover span:nth-child(3) {
  animation-delay: 0.2s;
}

.set:hover span {
  animation: colors 0.7s linear infinite;
}

@keyframes colors {
  0% {
    color: white;
  }
  100% {
    color: #222;
  }
}

/* <span></span> text show & hide */

.span-show {
  display: block;
}

.hide {
  display: none;
}

/* <span></span> text animation types fadein & fadeout */

/* fadein & fadeout animation */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.span-fadein {
  animation: fadein 0.5s linear;
}

.span-fadeout {
  animation: fadeout 0.5s linear;
}

/* span animation & bg,interface span style */

.text-background,
.text-interface {
  position: absolute;
}

.text-background {
  left: 88%;
  bottom: 95%;
}

.text-interface {
  left: 93%;
  bottom: 95%;
}

@keyframes bgfont {
  form {
    font-size: 17px;
  }
  to {
    left: 90%;
    font-size: 17px;
  }
}

@keyframes interfacefont {
  from {
    font-size: 18px;
  }
  to {
    left: 91%;
    font-size: 18px;
  }
}

.span-anima-bgfont {
  animation: bgfont 0.4s;
}

.anima-end-bgfont {
  left: 90%;
  font-size: 17px;
}

.span-anima-interfacefont {
  animation: interfacefont 0.4s;
}

.anima-end-interfacefont {
  left: 91%;
  font-size: 18px;
}

.span-back-bgfont {
  left: 87%;
  font-size: 13px;
  opacity: 0.4;
}

.span-back-interfacefont {
  left: 95%;
  font-size: 13px;
  opacity: 0.4;
}

/* option section */

/*font color black #222*/

/*bg option style & animation*/

/* bg-option */

.bg-timeset,
.ot-label {
  position: absolute;
  background: none;
  font-size: 85%;
  color: white;
}

.ot-label {
  top: 6%;
  right: 7%;
}

.bg-timeset {
  margin-top: 3%;
  padding-left: 5%;
  border: 0;
  outline: none;
}

/* interface-option */

.label-rename,
.input-rename,
.label-colors,
.slet-colors,
.label-types,
.slet-types {
  position: absolute;
  background: none;
  font-size: 87%;
  border: 0;
  outline: none;
  color: white;
}

.label-rename {
  top: 6%;
  right: 8%;
}

.input-rename {
  padding-left: 10%;
  font-size: 80%;
}

.label-colors {
  top: 8.5%;
  right: 8.9%;
}

.slet-colors {
  padding-left: 5%;
  margin-top: 12%;
}

.label-types {
  top: 11%;
  right: 7.3%;
}

.slet-types {
  padding-left: 5%;
  margin-top: 7%;
}

/* apply btn style */

.apply-btn {
  position: absolute;
  background: none;
  border: 0;
  outline: none;
  margin-top: 50%;
  left: 70%;
  right: 0;
  color: white;
}

/* option style */

option {
  background: #222;
  color: white;
}

/* interface colors */
.dark {
  color: #222;
}

.input-dark {
  border-bottom: 2px solid #222;
}

/* weather text */

.weather-span {
  font-family: "Jomolhari", serif;
}

/* opacity block */

@keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes gone {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 50%;
  padding-bottom: 1px;
  padding-left: 50%;
  padding-right: 50%;
  background: white;
  opacity: 0.4;
  z-index: 0;
  animation: first 0.5s linear;
}

.removed {
  animation: gone 0.5s linear;
}

/*.js-time:not(:first-of-type):not(:be) {
  content: ":";
  margin: 0;
  font-size: 70px;
  align-items: center;
  -webkit-font--smoothing: antialiased;
}
*/

/*    [timer css]
  .dialog-timer-show {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 0.5s;
    transform: none;
  }
  
  .dialog-timer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .timer-hours,
  .timer-minutes,
  .timer-seconds {
    background: none;
    border: 0;
    outline: none;
  }
  
  .timer-form {
    border: 0;
    border-bottom: 2px solid black;
  }
  
  #timer-icon {
    height: 23px;
    width: 23px;
    vertical-align: text-bottom;
    padding-right: 3px;
    opacity: 0.5;
  }
  
  #timer-icon:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 1.5s;
  }
  */

/*
  [auto play video]
#autotest {
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 0;
  contain: layout paint style;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  border: 0;
  overflow: visible;
}
  */
